# cat lightsrv.service
[Unit]
Description=LightSrv Fishtank Light and Control Service
After=syslog.target network.target
Conflicts=

[Service]
Type=simple
ExecStart=/usr/local/sbin/lightsrv -C /usr/local/etc/lightsrv/lightsrv.conf
WorkingDirectory=/usr/local/etc/lightsrv

[Install]
WantedBy=multi-user.target

[Service]
Environment="LD_LIBRARY_PATH=/usr/local/lib"
